table,td,th{
    width: 300px;
    
  }
  .table-color{
    background-color:#00305396;
  }

  .table-color-prod{
    background-color:#00305396;
  }
  .prod-nom{
   
  }
  .cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    border-bottom: 2px solid #eee;
    background-clip: padding-box
  }

  .cell-produits{
    border-collapse: separate;
    border-bottom: hidden;
  }
  .font-oswald{
    font-family: 'Oswald', sans-serif;
  }
  .table-body tr:hover {
    background-color: #eee;
}
.ellipsis{
 display:flex;
 justify-content:end;
  width:85%;
}

.span-cursor{
  cursor:pointer;
  text-decoration:none;
}
.btn-ellipse{
  border: none;
  background-color:transparent;
}

.btn-ellipse:focus{
  border: none;
  outline: none;
}

.table-head{
  
}
.text-prod{
  font-size: 20px;
}
.text-expand-prix{
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.text-expand{
   float:left;
}

  @media only screen and (max-width: 974.8px) {
    h4{
        margin-left:110%;
      }
  
   }