/* .name {
    background: indigo;
    color: #fff;
    font-weight: bold;
}
.card-img .ratio{
    object-fit: cover;
}
.black-10{
    background: #f2f2f2;
}
.black-9{
    background: #e6e6e6;
}
.black-8{
    background: #d9d9d9;
}
.black-7{
    background: #cccccc;
}
.black-6{
    background: #bfbfbf;
}
.black-5{
    background: #b3b3b3;
} */

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem;
    height: 100%;
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img {
    width: 350px
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}
