
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
#titre-produit{
    margin-top: 3.5%;
    color: black;
    text-align: center;
}

.form-categorie{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn-categorie{
  margin-top: 2%;
  width: 40%;
  margin-left: 27%;
}

#m-quant{
  margin-bottom:2%;
}

#m-livr{
  
}
.form-margin{
  margin-bottom: 7%;
}

.btn-margin{
  margin-top: 8%;
}

.form-produit{
  background-color: #eee;
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}
.header-produit{
  font-size: 30px;
  font-family: 'Inconsolata', sans-serif !important;
  font-weight: bold;
}
.font-oswald{
  font-family: 'Inconsolata', sans-serif;
}