
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
#titre-produit{
    margin-top: 3.5%;
    color: black;
    text-align: center;
}

.form-categorie{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn-categorie{
  margin-top: 2%;
  width: 40%;
  margin-left: 27%;
}

.form-produit{
  background-color: #eee;
  padding-right: 1.5%;
  padding-left: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}