footer{
    color: rgb(196, 196, 196);
    background-color: #14181f  ;
   margin-top: 100px;
   position: relative;
    bottom: 0 !important;
    width: 100%;
    bottom:0;
    width:100%;

 
}
.footerMargin{
  margin-top: 250px;
}
.liFooter{
  color: rgb(157, 139, 168);
}
.h4Footer{
    color: rgb(43, 174, 226);
}